body{
    background: rgb(196, 201, 201);
   /* background-image: url(../Img/header.jpg);*/
    background-size:cover;
    margin: 0px;
    font-family: 'Noto Serif KR', serif;
}
/* ****************** Barra de navegacion *******************/
.menu{
    background: rgba(255, 138, 4, 0.842);
    margin: auto;
    padding: 2px;
    
  }
 .opciones{
    overflow: hidden;
    list-style: none;
    font-size: 17px;
    font-family: 'Noto Serif KR', serif;
     } 
.menu li {
float: left;
padding: 10px 10px;
}
.menu li a{
text-decoration: none;
color: rgb(255, 255, 255);
display: block;
}
li a:hover {
background-color: rgb(240, 248, 169);
color: rgb(221, 113, 12);
}
.mostrar{
 position: absolute;
 overflow: hidden;
 display: none;
}
.action:hover .mostrar{
    display: block;
    color: grey;
}


/* *******************CABECERA Pagina Pricipal**************************** */
.header::after {
    content: '';
    height: 40vh;
    width: 100%;
    background-image: url(../Img/Fondo1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: -460px ;
    display: block;
    filter: blur(10px);
    -webkit-filter:  blur(10px);
    transition: all 1000ms
        }
    .header:hover::after{
        filter:blur(0px);
    -webkit-filter: blur(0px);
}
.header:hover .header-content{
filter:blur(1px);
-webkit-filter: blur(2px);
}
.header-content{
position: absolute;
z-index: 1;
left:50%;
margin-top: 5px;
margin-left: -145px;
text-align: center;
width: 300px;
height: 350px;
transition: all 1000ms
}
.header-content .logo {
    height: 180px;
    width: 200px;
}
.title{
    font-family: 'Alike', serif;
    color: rgb(12, 11, 11);
    font-size: 2rem;
    text-align: center;
    margin:0;
}

.title2{
    font-family: 'Alike', serif;
    color: rgb(23, 6, 82);
    font-size: 1.3rem;
    margin:0;
}

.title-intro{
    font-family: 'Alike', serif;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    text-align: center;
    z-index: 2;
   }
.Parrafo-into{
    text-align: justify;
    font-size: 1.2rem;
    color: aliceblue;
    z-index: 1;
}
.grid-into{
  
    border: 1px solid white;
    margin: 20px;
    padding: 100px;
    background-image: url(../Img/Fondo1.jpg);
    background-size:cover;
    color: white;
    z-index: 0;
}
    /*background-attachment: fixed;*/

    .video{
        margin: auto;
        margin-left: 160px;
        margin-top: 20px; 
    }       
.text{
 line-height: 1.7;
 margin-top: 1rem;
}
.container{
    max-width:960px;
    margin:auto;
    overflow: hidden;
    padding: 4rem 1rem;
   
}
.grid-4{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 20px;
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    border: 1px solid black;
   
}
.text-center{
    text-align: center;
    margin:auto;
   
}
.bg-light{
    background: rgba(255, 138, 4, 0.842);
    color: black;
}
.bg-dark{
    background: rgba(33, 37, 46, 0.842);
    color:#fff;
}
.servicios {
    padding: 2rem 0;
}

.footer{
   background: #f5f5f5;
   background-size: cover;
}

.Contact{

    background-image: url(../Img/header1.jpg);
    background-size: auto;
    color:black;
    padding: 250px;
      
}
.Contact-1{

   
    color:black;
    text-align: center;
    font-size: 30px;
    font-family: 'PT Serif', serif;
   
}

/******************************Paginas Secundarias*****************************************/


.grid-nosotros{
  
    border: 1px solid white;
    margin: 20px;
    text-align: left;
    padding: 160px;
    background-image: url(../Img/Fondo1.jpg);
    background-size:cover;
    z-index: 0;
      
    /*background-attachment: fixed;*/
}

.grid-client{
  

    border: 1px solid white;
    margin: 8px;
    text-align: left;
    padding: 350px;
    background-image: url(../Img/header.jpg);
    background-size:cover;
    color: white;
    text-align: justify;
    font-size: 17px;
}

.title-acerca{
    font-family: 'Alike', serif;
    color: rgb(12, 11, 11);
    font-size: 2rem;
    text-align: center;
    margin:10;

}

.nosotros{

    margin-top:-12px;
    color:white;
    text-align: justify;
    font-size: 19.5px;
    z-index:10; 
   
  }

.grid-servicios{
  

    border: 1px solid white;
    margin: 10px;
    text-align: left;
    padding: 350px;
    background-image: url(../Img/logo2.png);
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(8, 8, 8);
    text-align: justify;
    font-size: 17px;
}

.title-serv{

    font-family: 'Alike', serif;
    color: rgb(12, 11, 11);
    font-size: 2rem;
    text-align: center;
    margin:10;

}

.grid-5{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
     padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
   
}
.info-red{
    
    background-color:rgba(248, 248, 248, 0.795);
    font-size: 30px;
    text-justify:distribute-all-lines;
    font-family: 'PT Serif', serif;
    text-align: center;
    padding: 15px;
    margin-top: -30px;
    height: 800px;
    
    
}
.info-red2{
    
    font-size: 20px;
    font-family: 'PT Serif', serif;
    text-align: justify;
    padding: 15px;
}
.img-red{
            
     margin-top: -30px;
     
     }

.img-cctv{
       
    padding:10px;
    margin-top: -40px;
       
 }

 .title-red{
    font-family: 'Alike', serif;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align:center;
    padding: -5rem;
    margin-top: 10px;
     }         
/*******************************************************************************************/

/* Se agrega un Media Query para ajustar a dispositivos moviles*/

@media( max-width:560px){
.header::after{
    height: 50vh;
     
}

.header-content{
       top:5%;
    margin-top:5px;
 }
.header-content .logo {
 height: 120px;
 width: 120px;
}
.header-content .text{
    display:none;
}

.grid-2, .grid-4 {
grid-template-columns:1fr;
}
 .servicios{
     padding: 1rem 1rem;
 }

}
/* Se agrega un Media Query para ajustar a dispositivos moviles
con pantalla Horiontal*/
@media(max-height: 500px){
    .header-content .title, .header-content .text{
        direction: none;
    }
    .header-content{
        top:0;
    }


}